<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HelicopterShooter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <HelicopterShooter.Properties.Settings>
            <setting name="TotalCoins" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedBackgroundSkin" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Skin1Owned" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Skin2Owned" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Skin3Owned" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Skin4Owned" serializeAs="String">
                <value>False</value>
            </setting>
        </HelicopterShooter.Properties.Settings>
    </userSettings>
</configuration>